.brand-logo{ padding: 14px 0px 0px 30px; }
.navbar-brand ul { margin: 15px 0px 0px 15px; font-weight: bold; }
.navbar-brand ul li { margin-bottom: -2px }
.chat-panel .panel-body { height: 950px; overflow-y: hidden; font-size : 250%; }
.bg-set { background-color:#F3F2F8; padding: 10px 30px 5px 30px; }
.detail-Gate { margin: 0px 0px 22px 0px; }
.set-font-in { color: #ffff; font-size: 122px; font-weight: bold; }
.set-font-out { color: #ffff; font-size: 95px; font-weight: bold; }
.set-profile { height: 195px; margin: 10px; }
.lead-text { height: 55px; }
.move-text-in { margin-top: 20px; margin-right: 20px; }
.move-text-out { margin-top: 20px; margin-right: 20px; }
.move-text-in label { color:#ACACAC; font-size:20px; }
.move-text-out label { color:#ACACAC; font-size:20px; }
.move-text-in p { margin-top: -13px; margin-bottom: -5px; color:#737272; font-size:22px; }
.move-text-out p { margin-top: -13px; margin-bottom: -5px; color:#737272; font-size:22px; }
.lead-img-in { position: absolute; margin-top: 22px; margin-left: 10px; }
.lead-img-out { position: absolute; margin-top: 22px; margin-left: 45%; }

/* Edit Bulma */
.navbar { min-height: 4.25rem; }
nav.navbar.is-transparent { border-bottom: 1px solid #989898; }
.card-content { padding: 0px; max-width: 100%; height: 220px; }
.card {
  background-color: #fff;
  box-shadow: 0 1px 3px 2px rgba(10,10,10,.1), 0 0 0 0px rgba(10,10,10,.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  height: 220px;
}
.columns.is-gapless:last-child {
  margin-bottom: 0;
  max-width: 100%;
  height: 220px;
}

@media only screen and (max-width: 1278px) {
  .lead-img-out { margin-left: 43%; }
}

/* Big tablet to 1200px (widths smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
  .lead-img-out { margin-left: 43%; }
  .move-text-in p { margin-top: -13px; margin-bottom: 0px; color: #737272;font-size: 27px; }
  .move-text-out p { margin-top: -13px; margin-bottom: 0px; color:#737272; font-size:27px; }
}

/* small tablets to big tablets: form 768 to 1023 */
@media only screen and (max-width: 1023px) {

}

/* Small phonee to small tablets: form 481 to 767 */
@media only screen and (max-width: 767px) {

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480x) {

}